body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#head{
  margin-top: 10%;
  display:flex;
  font-size: 400%;
  justify-content:center;
  color:white;
}

body{
  width:100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('Good.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sub{
  font-size: 180%;
  display:flex;
  justify-content: center;
  color:white;
}

#butt{
  width:50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  align-items: center;
  height: 15%;
  color: black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  color:white;
}

.navbar-heading{
  padding-left: 20px;
}

.navbar-buttons {
  margin-left: auto;
  padding-right: 20px;
}
