body {
  margin: 0;
  font-family: "karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#head{
  margin-top: 10%;
  display:flex;
  font-size: 400%;
  justify-content:center;
  color:white;
}

body{
  width:100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('Good.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sub{
  font-size: 180%;
  display:flex;
  justify-content: center;
  color:white;
}

#subby{

  font-size: 120%;
  display:flex;
  justify-content: center;
  color:white;

}

#butt{
  width:50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  align-items: center;
  height: 15%;
  color: black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  color:black;
  background-color: white;
}

.navbar-heading{
  padding-left: 20px;
}

.navbar-buttons {
  margin-left: auto;
  padding-right: 20px;
}

#price{
  color:limegreen;
}

#p{
  color:black;
}

#curd{
  width:auto;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "karla", sans-serif;
  }
  
  
  
  
  .search-filter {
      display: flex;
      justify-content: center;
      align-items: center;
      border-color: white;
      color: white;
  }
  
  .filter-div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
      padding: 5px;
      color: white;
  }
  
  .box-shadow {
      box-shadow: 0px -5px 3px -3px white;
  }
  
  .sex {
          display: inline-block;
          width: 2em;
          height: 2em;
          --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M18 5.97V4H6v1.97l6 4.286zM13 12v8l-2 2V12L4.838 7.598A2 2 0 0 1 4 5.971V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1.97a2 2 0 0 1-.838 1.628z'/%3E%3C/svg%3E");
          background-color: white;
          -webkit-mask-image: var(--svg);
          mask-image: var(--svg);
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
        }
  
  
      .search {
       
            width: 50%;
              padding: 12px 24px;
              
            
              background-color: transparent;
              transition: transform 250ms ease-in-out;
              font-size: 14px;
              line-height: 18px;
              
              color: white;
              background-color: transparent;
      /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
       
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
              background-repeat: no-repeat;
              background-size: 18px 18px;
              background-position: 95% center;
              border-radius: 50px;
              border: 1px solid white;
              transition: all 250ms ease-in-out;
              backface-visibility: hidden;
              transform-style: preserve-3d;
              
              &::placeholder {
                  color: color(white a(0.8));
                  text-transform: uppercase;
                  letter-spacing: 1.5px;
              }
              
              &:hover,
              &:focus {
                  padding: 12px 0;
                  outline: 0;
                  border: 1px solid transparent;
                  border-bottom: 1px solid white;
                  border-radius: 0;
                  background-position: 100% center;
              }
          }


          .others {
       
            width: 50%;
              padding: 12px 24px;
              
            
              background-color: transparent;
              transition: transform 250ms ease-in-out;
              font-size: 14px;
              line-height: 18px;
              
              color: white;
              background-color: transparent;
      /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
       
            /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
             */ background-repeat: no-repeat;
              background-size: 18px 18px;
              background-position: 95% center;
              border-radius: 50px;
              border: 1px solid white;
              transition: all 250ms ease-in-out;
              backface-visibility: hidden;
              transform-style: preserve-3d;
              
              &::placeholder {
                  color: color(white a(0.8));
                  text-transform: uppercase;
                  letter-spacing: 1.5px;
              }
              
              &:hover,
              &:focus {
                  padding: 12px 0;
                  outline: 0;
                  border: 1px solid transparent;
                  border-bottom: 1px solid white;
                  border-radius: 0;
                  background-position: 100% center;
              }
          }
  
          .box-shadow-right{
              box-shadow: 5px 0 3px -3px white;
              color: white;
          }
  
          .box-shadow-bottom {
              box-shadow: 0 5px 3px -3px white;
              color: white;
          }

          .info-center{
            display: flex;
            justify-content: center;
            align-items: center;
          }